/* TASK 2B): Add a CSS rule which centers the text of all elements in the <div> containing the header elements */
#center-stuff{
  text-align: center;
}

#svg-div{
  text-align: center;
}


/* You can ignore the code below this line */
.footer-text::before {
  font-size: 20px;
  width: 100%;
  content: "CSS file loaded successfully!";
  color: black;
}

